.Card {
  padding: 12px;
  margin: 8px 0;
  border-radius: 5px;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease-in-out;
}

.Card-grey {
  background-color: grey;
  color: white;
}

.Card-blue {
  background-color: blue;
  color: white;
}

.Card-green {
  background-color: green;
  color: white;
}
